header{
    box-sizing: border-box;
    background-color: rgb(11, 4, 59,0.8);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    z-index: 51;
    position: absolute;
    padding: 0 3rem;
    height: 6em;
}

.brand-title{
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 50%;
    border: 0.2em solid rgb(255, 255, 255);
    width: 4em;
    height: 4em;
}

header a img{
    object-fit: cover;
    width: 100%;
    padding: 0 0.5rem;
    border-radius: 50%;
    user-select:none; /* standard syntax */
    -webkit-user-select:none; /* for Chrome、Safari */
    -moz-user-select:none;  /* for Mozilla、Firefox */
    pointer-events: none;
    -webkit-user-drag: none;
}

.name h1{

    color: white;
    user-select:none; /* standard syntax */
    -webkit-user-select:none; /* for Chrome、Safari */
    -moz-user-select:none;  /* for Mozilla、Firefox */
    pointer-events: none;
    -webkit-user-drag: none;
}

.header-right{
    display: flex;
    flex-direction: row;   
    justify-content: flex-end;
    align-items: center;
}

.login{
    color:white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    user-select:none; /* standard syntax */
    -webkit-user-select:none; /* for Chrome、Safari */
    -moz-user-select:none;  /* for Mozilla、Firefox */
    -webkit-user-drag: none;
}
